.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
}

*{
  box-sizing: border-box;
}

.upper-z-index
{
    z-index: 5;
   
}


